.chartContainer{
    display: inline-block;
    padding: 20px;
    border: solid 1px black;
    border-radius: 30px;
}

.chartContainer h3 {
    text-align: center;
}

.legendContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.box1 {
    height: 20px;
    width: 20px;
    background-color: #2E8336;
    border-radius: 2px;
    margin: 0px 5px 0px 0px;
}

.box2 {
    height: 20px;
    width: 20px;
    background-color: #F76245;
    border-radius: 2px;
    margin: 0px 5px 0px 40px;
}

.chart {
    width: 800px;
    height: 400px;
}

.customTooltip {
    background-color: white;
    border-radius: 30px;
    padding: 10px 10px 0px 10px;
    text-align: center;
    border: solid 1px black;
    opacity: 90%;
    font-weight: bold;
}

.chartSource {
    margin: 0px 20px 0px 0px;
    text-align: right;
}