/* Typografi */
/* Använder klasser för att kunna använda google fonts */
.font-link-h1 {
    font-family: 'Oswald';
    font-weight: bold;
    color: black;
    font-size: 48pt;
    text-transform: uppercase;
  }
  .font-link-h2 {
    font-family: 'Oswald';
    color: black;
    font-size: 24pt;
    text-transform: uppercase;
    text-align: left;
  }
  .font-link-p-ingress {
    font-family: 'inter';
    color: black;
    font-size: 20pt;
  }
  .font-link-p {
    font-family: 'inter';
    color: black;
    font-size: 16pt;
  }
  
  /* Bildspel/Bildgalleri */
  .carousel-control-prev-icon,
  .carousel-control-next-icon,
  .indicators {
    border-radius: 4px;
    background-color: #2e8336;
    margin-top: 310px;
  }
  .carousel-indicators {
    height: 50px;
  }
  
  /* Quiz-knapp*/
  /* Utseende av quiz-knappen*/
  .quizButton {
    border-style: none;
    border-radius: 4px;
    width: 159px;
    height: 53px;
    font-weight: bold;
    font-size: 16px;
    background-color: #2E8336;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)
  }
  .quizButton:hover {
    background-color: #18531D;
  }
  

 