.navBarcontainer{
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.281);
    height: 75px;
    justify-content: stretch;
    z-index: 5;
    background-color: white;

}


.navbaroffset{
    height: 75px;
    margin: 20px;
}