.QuizButton {
    border-style: none;
    border-radius: 4px;
    width: 159px;
    height: 53px;
    font-weight: bold;
    font-size: 16px;
    background-color: #2E8336;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.QuizButton:hover {
    background-color: #18531D;
}

